/* Домашняя работа */

/* body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s;
}

input.invalid {
    border: 2px solid red;
} */


/* *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 308px;
    margin: 50px auto;
}

.currentPlayer{
    text-align: center;
    font-size: 18px;
    margin: 50px auto 20px;
}

#area{
    border: 1px solid #000;
}

.cell{
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    border: 1px solid;
    cursor: pointer;
    vertical-align: middle;
    transition: background-color .1s;
}

.cell:hover{
    background-color: #f1f1f1;
}

.stat{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.stat table{
    margin: 50px auto;
    border-collapse: collapse;
}

.stat table, .stat th, .stat td{
    border: 1px solid;
    padding: 5px;
    text-align: center;
} */